In [80]:
import pandas as pd
tables = pd.read_html("http://www.basketball-reference.com/leagues/NBA_2018_games.html")

type(tables)

list

In [81]:
len(tables)

1

In [82]:
type(tables[0])#요소는 왜 데이터 프레임으로 뜨지.

pandas.core.frame.DataFrame

In [83]:
games =tables[0]
games.to_csv('nav_2018.csv')#csv만들기

In [84]:
import chardet

In [85]:
def find_encoding(fname): #이 함수 항상 기억하기.
    r_file = open(fname,'rb').read() #open으로 리딩하는 버퍼링 공간
    result = chardet.detect(r_file)#인코딩 정보 확인.
    charenc = result['encoding']
    return charenc

In [86]:
my_encoding1 = find_encoding('nav_2018.csv')

df_1 = pd.read_csv('nav_2018.csv', encoding=my_encoding1)

In [87]:
df_1.info() #누락값 개수 표시한다. Notes는 모두 누락값

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 11 columns):
Unnamed: 0         104 non-null int64
Date               104 non-null object
Start (ET)         104 non-null object
Visitor/Neutral    104 non-null object
PTS                104 non-null int64
Home/Neutral       104 non-null object
PTS.1              104 non-null int64
Unnamed: 6         104 non-null object
Unnamed: 7         2 non-null object
Attend.            104 non-null int64
Notes              0 non-null float64
dtypes: float64(1), int64(4), object(6)
memory usage: 9.0+ KB

In [88]:
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 10 columns):
Date               104 non-null object
Start (ET)         104 non-null object
Visitor/Neutral    104 non-null object
PTS                104 non-null int64
Home/Neutral       104 non-null object
PTS.1              104 non-null int64
Unnamed: 6         104 non-null object
Unnamed: 7         2 non-null object
Attend.            104 non-null int64
Notes              0 non-null float64
dtypes: float64(1), int64(3), object(6)
memory usage: 8.2+ KB

In [89]:
games.shape

(104, 10)

In [90]:
games.head(2)

,Date,Start (ET),Visitor/Neutral,PTS,Home/Neutral,PTS.1,Unnamed: 6,Unnamed: 7,Attend.,Notes
0,"Tue, Oct 17, 2017",8:01p,Boston Celtics,99,Cleveland Cavaliers,102,Box Score,NaN,20562,NaN
1,"Tue, Oct 17, 2017",10:30p,Houston Rockets,122,Golden State Warriors,121,Box Score,NaN,19596,NaN

In [91]:
games['Attend.']#위의 info로 알아낸 컬럼 중 하나

0      20562
1      19596
2      20491
3      15008
4      18846
5      20356
6      18624
7      17794
8      19709
9      17588
10     18418
11     18055
12     17583
13     19800
14     18203
15     18997
16     18417
17     15325
18     18717
19     20816
20     16337
21     16144
22     18978
23     19273
24     18171
25     18055
26     19800
27     21640
28     20562
29     18055
       ...
74     19596
75     17876
76     18539
77     21706
78     17033
79     19600
80     19567
81     18306
82     19343
83     17247
84     14014
85     15013
86     14854
87     15531
88     17583
89     20562
90     19596
91     18624
92     19600
93     19812
94     16714
95     15771
96     14004
97     16221
98     18505
99     19068
100    12245
101    12936
102    16713
103    17569
Name: Attend., Length: 104, dtype: int64

In [92]:
games[['Attend.']] #원하는 걸 빼낼 수 있으며 데이터프레임 상대로 펜시검색은 데이터 프레임만 나온다.

     Attend.
0      20562
1      19596
2      20491
3      15008
4      18846
5      20356
6      18624
7      17794
8      19709
9      17588
10     18418
11     18055
12     17583
13     19800
14     18203
15     18997
16     18417
17     15325
18     18717
19     20816
20     16337
21     16144
22     18978
23     19273
24     18171
25     18055
26     19800
27     21640
28     20562
29     18055
..       ...
74     19596
75     17876
76     18539
77     21706
78     17033
79     19600
80     19567
81     18306
82     19343
83     17247
84     14014
85     15013
86     14854
87     15531
88     17583
89     20562
90     19596
91     18624
92     19600
93     19812
94     16714
95     15771
96     14004
97     16221
98     18505
99     19068
100    12245
101    12936
102    16713
103    17569

[104 rows x 1 columns]

In [93]:
games.columns[6] #&nbsp가 /\xa0로 불려와야하는 데 Unnamed로 불려옴.

'Unnamed: 6'

In [94]:
games.columns #7번 배열도 문제네

Index(['Date', 'Start (ET)', 'Visitor/Neutral', 'PTS', 'Home/Neutral', 'PTS.1',
       'Unnamed: 6', 'Unnamed: 7', 'Attend.', 'Notes'],
      dtype='object')

In [117]:
column_names={'Date': '경기일자', 'Start (ET)': 'start',
                'Visitor/Neutral': '방문팀', 
                'PTS': '방문팀점수', 'Home/Neutral': '홈팀',
                'PTS.1': '홈팀점수', 'Unnamed: 6' : 'Box', 'Attend.':'관중수','Unnamed: 7': 'n_ot'}#원하는 컬럼이름으로 바꿨다.
#물론 사전객체는 순서가 없어서 정확히만 넣으면 된다. 그래서 위의 값 순서로 안넣은 것이다.

In [118]:
games = games.rename(columns = column_names)

In [119]:
games.columns

Index(['경기일자', 'start', '방문팀', '방문팀점수', '홈팀', '홈팀점수', 'Box', 'n_ot', '관중수',
       'Notes'],
      dtype='object')

In [120]:
games['경기일자'].dtype

dtype('<M8[ns]')

In [121]:
games.head()

,경기일자,start,방문팀,방문팀점수,홈팀,홈팀점수,Box,n_ot,관중수,Notes
0,2017-10-17,8:01p,Boston Celtics,99,Cleveland Cavaliers,102,Box Score,NaN,20562,NaN
1,2017-10-17,10:30p,Houston Rockets,122,Golden State Warriors,121,Box Score,NaN,19596,NaN
2,2017-10-18,7:00p,Charlotte Hornets,90,Detroit Pistons,102,Box Score,NaN,20491,NaN
3,2017-10-18,7:00p,Brooklyn Nets,131,Indiana Pacers,140,Box Score,NaN,15008,NaN
4,2017-10-18,7:00p,Miami Heat,109,Orlando Magic,116,Box Score,NaN,18846,NaN

In [122]:
a_g = games.assign(경기일자=lambda x: pd.to_datetime(x['경기일자'], format='%a, %b %d, %Y')) #경기일자 하나하나를 데이트타임에 넣는다.

In [123]:
a_g.head()

,경기일자,start,방문팀,방문팀점수,홈팀,홈팀점수,Box,n_ot,관중수,Notes
0,2017-10-17,8:01p,Boston Celtics,99,Cleveland Cavaliers,102,Box Score,NaN,20562,NaN
1,2017-10-17,10:30p,Houston Rockets,122,Golden State Warriors,121,Box Score,NaN,19596,NaN
2,2017-10-18,7:00p,Charlotte Hornets,90,Detroit Pistons,102,Box Score,NaN,20491,NaN
3,2017-10-18,7:00p,Brooklyn Nets,131,Indiana Pacers,140,Box Score,NaN,15008,NaN
4,2017-10-18,7:00p,Miami Heat,109,Orlando Magic,116,Box Score,NaN,18846,NaN

In [124]:
a_g['경기일자'].dtype #<M8[ns]는 데이터 타입이라는 뜻.

dtype('<M8[ns]')

In [131]:
games_= a_g.copy() #객체 복사

In [132]:
games_.isnull().sum()

경기일자       0
start      0
방문팀        0
방문팀점수      0
홈팀         0
홈팀점수       0
Box        0
n_ot     102
관중수        0
Notes    104
dtype: int64

In [133]:
games_[games["n_ot"].notnull()] #마스킹 검색이라 데이터프레임형태로 트루펄스가 아님.

,경기일자,start,방문팀,방문팀점수,홈팀,홈팀점수,Box,n_ot,관중수,Notes
63,2017-10-25,10:30p,Washington Wizards,99,Los Angeles Lakers,102,Box Score,OT,18996,NaN
92,2017-10-30,7:30p,Minnesota Timberwolves,125,Miami Heat,122,Box Score,OT,19600,NaN

In [135]:
games["n_ot"].notnull() #트루 펄스로 뽑힘.

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
74     False
75     False
76     False
77     False
78     False
79     False
80     False
81     False
82     False
83     False
84     False
85     False
86     False
87     False
88     False
89     False
90     False
91     False
92      True
93     False
94     False
95     False
96     False
97     False
98     False
99     False
100    False
101    False
102    False
103    False
Name: n_ot, Length: 104, dtype: bool

In [137]:
games_['n_ot'].fillna('not',inplace=True) #not라는 오브젝트로 채워넣음.

In [139]:
games_.info() #의미없는 값이라도 채워놓음.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 10 columns):
경기일자     104 non-null datetime64[ns]
start    104 non-null object
방문팀      104 non-null object
방문팀점수    104 non-null int64
홈팀       104 non-null object
홈팀점수     104 non-null int64
Box      104 non-null object
n_ot     104 non-null object
관중수      104 non-null int64
Notes    0 non-null float64
dtypes: datetime64[ns](1), float64(1), int64(3), object(5)
memory usage: 8.2+ KB

In [143]:
games_na = games_.dropna(axis=1)# 위의 놈은 유의미한게 2개있으서 일부러 not로 채워놓고 note 컬럼은 삭제

In [144]:
games_na.head()

,경기일자,start,방문팀,방문팀점수,홈팀,홈팀점수,Box,n_ot,관중수
0,2017-10-17,8:01p,Boston Celtics,99,Cleveland Cavaliers,102,Box Score,not,20562
1,2017-10-17,10:30p,Houston Rockets,122,Golden State Warriors,121,Box Score,not,19596
2,2017-10-18,7:00p,Charlotte Hornets,90,Detroit Pistons,102,Box Score,not,20491
3,2017-10-18,7:00p,Brooklyn Nets,131,Indiana Pacers,140,Box Score,not,15008
4,2017-10-18,7:00p,Miami Heat,109,Orlando Magic,116,Box Score,not,18846

In [146]:
games_nae = games_na[['경기일자','방문팀','방문팀점수','홈팀','홈팀점수']]

In [147]:
games_nae.columns #재구성

Index(['경기일자', '방문팀', '방문팀점수', '홈팀', '홈팀점수'], dtype='object')

In [148]:
games_nae.head()

        경기일자                방문팀  방문팀점수                     홈팀  홈팀점수
0 2017-10-17     Boston Celtics     99    Cleveland Cavaliers   102
1 2017-10-17    Houston Rockets    122  Golden State Warriors   121
2 2017-10-18  Charlotte Hornets     90        Detroit Pistons   102
3 2017-10-18      Brooklyn Nets    131         Indiana Pacers   140
4 2017-10-18         Miami Heat    109          Orlando Magic   116

In [150]:
games_naes=games_nae.set_index('경기일자',append=True)

In [151]:
games_naes.index #멀티인덱스가 되었다. 다차원스럽게 사용가능하다.

MultiIndex(levels=[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103], [2017-10-17 00:00:00, 2017-10-18 00:00:00, 2017-10-19 00:00:00, 2017-10-20 00:00:00, 2017-10-21 00:00:00, 2017-10-22 00:00:00, 2017-10-23 00:00:00, 2017-10-24 00:00:00, 2017-10-25 00:00:00, 2017-10-26 00:00:00, 2017-10-27 00:00:00, 2017-10-28 00:00:00, 2017-10-29 00:00:00, 2017-10-30 00:00:00, 2017-10-31 00:00:00]],
           codes=[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103], [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 10, 10, 10, 10, 10, 10, 10, 11, 11, 11, 11, 11, 11, 11, 11, 12, 12, 12, 12, 12, 12, 12, 13, 13, 13, 13, 13, 13, 13, 13, 13, 14, 14, 14, 14]],
           names=[None, '경기일자'])

In [153]:
games_naes.head()

                            방문팀  방문팀점수                     홈팀  홈팀점수
  경기일자
0 2017-10-17     Boston Celtics     99    Cleveland Cavaliers   102
1 2017-10-17    Houston Rockets    122  Golden State Warriors   121
2 2017-10-18  Charlotte Hornets     90        Detroit Pistons   102
3 2017-10-18      Brooklyn Nets    131         Indiana Pacers   140
4 2017-10-18         Miami Heat    109          Orlando Magic   116

In [160]:
games_naesr = games_naes.rename_axis(['게임','경기일자']) #멀티인덱스 행의 이름을 바꾸었다.

In [161]:
games_naesr.head()

                             방문팀  방문팀점수                     홈팀  홈팀점수
게임 경기일자
0  2017-10-17     Boston Celtics     99    Cleveland Cavaliers   102
1  2017-10-17    Houston Rockets    122  Golden State Warriors   121
2  2017-10-18  Charlotte Hornets     90        Detroit Pistons   102
3  2017-10-18      Brooklyn Nets    131         Indiana Pacers   140
4  2017-10-18         Miami Heat    109          Orlando Magic   116

In [162]:
games_naser=games_naesr.sort_index()

In [163]:
games_naser.head()

                             방문팀  방문팀점수                     홈팀  홈팀점수
게임 경기일자
0  2017-10-17     Boston Celtics     99    Cleveland Cavaliers   102
1  2017-10-17    Houston Rockets    122  Golden State Warriors   121
2  2017-10-18  Charlotte Hornets     90        Detroit Pistons   102
3  2017-10-18      Brooklyn Nets    131         Indiana Pacers   140
4  2017-10-18         Miami Heat    109          Orlando Magic   116

In [166]:
games_all=games_naser.copy()

tidy = pd.melt(games_all.reset_index(),
               id_vars=['게임', '경기일자'], value_vars=['방문팀', '홈팀'],
               var_name='팀구분',value_name='팀')
#대상, 고정열, 합쳐질 열, 합쳐진 열의 이름, 값의 이름

In [167]:
tidy

      게임       경기일자  팀구분                       팀
0      0 2017-10-17  방문팀          Boston Celtics
1      1 2017-10-17  방문팀         Houston Rockets
2      2 2017-10-18  방문팀       Charlotte Hornets
3      3 2017-10-18  방문팀           Brooklyn Nets
4      4 2017-10-18  방문팀              Miami Heat
5      5 2017-10-18  방문팀      Philadelphia 76ers
6      6 2017-10-18  방문팀         Milwaukee Bucks
7      7 2017-10-18  방문팀    New Orleans Pelicans
8      8 2017-10-18  방문팀           Atlanta Hawks
9      9 2017-10-18  방문팀          Denver Nuggets
10    10 2017-10-18  방문팀  Minnesota Timberwolves
11    11 2017-10-18  방문팀  Portland Trail Blazers
12    12 2017-10-18  방문팀         Houston Rockets
13    13 2017-10-19  방문팀           Chicago Bulls
14    14 2017-10-19  방문팀         New York Knicks
15    15 2017-10-19  방문팀    Los Angeles Clippers
16    16 2017-10-20  방문팀           Atlanta Hawks
17    17 2017-10-20  방문팀  Portland Trail Blazers
18    18 2017-10-20  방문팀     Cleveland Cavaliers
19    19 2017-10-20  방문팀          Boston Celtics
20    20 2017-10-20  방문팀         Detroit Pistons
21    21 2017-10-20  방문팀           Orlando Magic
22    22 2017-10-20  방문팀               Utah Jazz
23    23 2017-10-20  방문팀        Sacramento Kings
24    24 2017-10-20  방문팀   Golden State Warriors
25    25 2017-10-20  방문팀      Los Angeles Lakers
26    26 2017-10-21  방문팀      Philadelphia 76ers
27    27 2017-10-21  방문팀       San Antonio Spurs
28    28 2017-10-21  방문팀           Orlando Magic
29    29 2017-10-21  방문팀        Dallas Mavericks
..   ...        ...  ...                     ...
178   74 2017-10-27   홈팀   Golden State Warriors
179   75 2017-10-27   홈팀      Los Angeles Lakers
180   76 2017-10-28   홈팀    New Orleans Pelicans
181   77 2017-10-28   홈팀           Chicago Bulls
182   78 2017-10-28   홈팀       Memphis Grizzlies
183   79 2017-10-28   홈팀              Miami Heat
184   80 2017-10-28   홈팀        Dallas Mavericks
185   81 2017-10-28   홈팀               Utah Jazz
186   82 2017-10-28   홈팀  Portland Trail Blazers
187   83 2017-10-28   홈팀    Los Angeles Clippers
188   84 2017-10-29   홈팀           Atlanta Hawks
189   85 2017-10-29   홈팀          Indiana Pacers
190   86 2017-10-29   홈팀           Brooklyn Nets
191   87 2017-10-29   홈팀       Charlotte Hornets
192   88 2017-10-29   홈팀        Sacramento Kings
193   89 2017-10-29   홈팀     Cleveland Cavaliers
194   90 2017-10-29   홈팀   Golden State Warriors
195   91 2017-10-30   홈팀          Boston Celtics
196   92 2017-10-30   홈팀              Miami Heat
197   93 2017-10-30   홈팀         New York Knicks
198   94 2017-10-30   홈팀         Houston Rockets
199   95 2017-10-30   홈팀       Memphis Grizzlies
200   96 2017-10-30   홈팀    New Orleans Pelicans
201   97 2017-10-30   홈팀               Utah Jazz
202   98 2017-10-30   홈팀  Portland Trail Blazers
203   99 2017-10-30   홈팀    Los Angeles Clippers
204  100 2017-10-31   홈팀          Indiana Pacers
205  101 2017-10-31   홈팀           Brooklyn Nets
206  102 2017-10-31   홈팀         Milwaukee Bucks
207  103 2017-10-31   홈팀      Los Angeles Lakers

[208 rows x 4 columns]

In [168]:
tidy.경기일자.dtype #합쳐졌어도 데이터타입

dtype('<M8[ns]')

In [172]:
x = (tidy.groupby('팀')['경기일자'].diff().dt.days == 1 ) #팀을 기준으로 경기일자를 하루 단위로 가져온다.(차집합)

In [173]:
tidy['경기일자'][x]

12    2017-10-18
28    2017-10-21
30    2017-10-21
32    2017-10-21
33    2017-10-21
34    2017-10-21
41    2017-10-23
59    2017-10-25
61    2017-10-25
77    2017-10-28
78    2017-10-28
90    2017-10-29
91    2017-10-30
93    2017-10-30
96    2017-10-30
137   2017-10-21
175   2017-10-27
Name: 경기일자, dtype: datetime64[ns]

In [175]:
ab = (tidy.groupby('팀')['경기일자'].diff().dt.days -1 )

In [177]:
ab.shape

(208,)

In [179]:
tidy['휴식일'] = tidy.sort_values('경기일자').groupby('팀').경기일자.diff().dt.days - 1
#휴식일이라는 컬럼을 만들고 위의 예시들을 한줄로 요약해 만듬.

In [180]:
tidy.isnull().sum()

게임       0
경기일자     0
팀구분      0
팀        0
휴식일     30
dtype: int64

In [181]:
tidy = tidy.fillna(0)

In [182]:
tidy.head()

   게임       경기일자  팀구분                  팀  휴식일
0   0 2017-10-17  방문팀     Boston Celtics  0.0
1   1 2017-10-17  방문팀    Houston Rockets  0.0
2   2 2017-10-18  방문팀  Charlotte Hornets  0.0
3   3 2017-10-18  방문팀      Brooklyn Nets  0.0
4   4 2017-10-18  방문팀         Miami Heat  0.0