In [3]:
import numpy as np
import pandas as pd

s= pd.Series([0,1,np.nan,3])
s.fillna(method='ffill') #원하는 값으로 채우는 메소드. ffill은 누락값 앞의 값으로 채운다.

0    0.0
1    1.0
2    1.0
3    3.0
dtype: float64

In [19]:
s.fillna(method='bfill')# bfill 반대

0    0.0
1    1.0
2    3.0
3    3.0
dtype: float64

In [20]:
pd.read_csv('flight_route_info.csv',encoding='cp949')

,노선명,항공사,출발지,출발국,도착지,도착국,검수,2016.6,2018.5,상태,...,운송량_여름 총합,운송량_2016.9,운송량_2016.10,운송량_2016.11,운송량_2017.9,운송량_2017.10,운송량_2017.11,운송량_2016가을,운송량_2017가을,운송량_가을 총합
0,7J105,Tajik Air,DYU,TJK,IKA,IRI,O,O,O,완료,...,4258,842,985,596,746,597,448,2423,1791,4214
1,7J117,Tajik Air,DYU,TJK,DEL,IND,O,O,O,완료,...,3440,794,815,990,224,0,0,2599,224,2823
2,7J4801,Tajik Air,DYU,TJK,SVX,RUS,O,O,O,완료,...,3949,970,896,596,745,448,448,2462,1641,4103
3,7J4805,Tajik Air,DYU,TJK,SGC,RUS,O,O,O,완료,...,0,0,0,298,0,0,0,298,0,298
4,7J4849,Tajik Air,DYU,TJK,FRU,KGZ,O,O,O,완료,...,3604,767,788,596,298,0,0,2151,298,2449
5,7J4850,Tajik Air,FRU,KGZ,DYU,TJK,O,O,O,완료,...,3902,964,788,596,298,0,224,2348,522,2870
6,7J4851,Tajik Air,DYU,TJK,LED,RUS,O,O,O,완료,...,2812,815,985,985,224,224,224,2785,672,3457
7,7J4863,Tajik Air,DYU,TJK,OVB,RUS,O,O,O,완료,...,3577,671,1120,1192,448,448,672,2983,1568,4551
8,7J4897,Tajik Air,DYU,TJK,ALA,KAZ,O,O,O,완료,...,3561,964,788,644,298,0,0,2396,298,2694
9,7J4898,Tajik Air,ALA,KAZ,DYU,TJK,O,O,O,완료,...,3412,964,591,644,298,0,0,2199,298,2497
10,7J4911,Tajik Air,LBD,TJK,SGC,RUS,O,O,O,완료,...,4399,596,596,1120,896,896,1120,2312,2912,5224
11,7J4923,Tajik Air,LBD,TJK,NJC,RUS,O,O,O,완료,...,0,0,0,373,0,0,0,373,0,373
12,7J4929,Tajik Air,LBD,TJK,OVB,RUS,O,O,O,완료,...,4099,298,896,1120,596,896,896,2314,2388,4702
13,7J627,Tajik Air,DYU,TJK,DME,RUS,O,O,O,완료,...,14368,3905,3770,4137,1045,0,224,11812,1269,13081
14,7J629,Tajik Air,DYU,TJK,DME,RUS,O,O,O,완료,...,5821,1630,1773,1773,448,0,224,5176,672,5848
15,7J645,Tajik Air,LBD,TJK,DME,RUS,O,O,O,완료,...,16843,2433,4032,3808,2608,4032,3360,10273,10000,20273
16,7J887,Tajik Air,DYU,TJK,PEK,CHN,O,O,O,완료,...,1576,0,0,0,0,0,0,0,0,0
17,7R126,Rusline,AKX,KAZ,DME,RUS,O,O,O,완료,...,600,200,100,0,0,0,0,300,0,300
18,A9772,Airzena Georgian Airways,TSE,KAZ,BUS,GEO,O,O,O,완료,...,1452,0,0,0,0,0,0,0,0,0
19,AY2052,Finnair,TSE,KAZ,HEL,FIN,O,O,O,완료,...,2235,0,0,0,0,0,0,0,0,0
20,AY7003,Finnair,TSE,KAZ,HMA,RUS,O,O,O,완료,...,0,0,0,0,0,0,0,0,0,0
21,AY7503,Finnair,TSE,KAZ,OVB,RUS,O,O,O,완료,...,0,0,0,0,0,138,0,0,138,138
22,B2746,Belavia,ASB,TKM,MSQ,BLR,O,O,O,완료,...,11874,2676,750,801,2194,539,753,4227,3486,7713
23,B2768,Belavia,ALA,KAZ,MSQ,BLR,O,O,O,완료,...,14724,2376,2442,2454,2076,2640,2457,7272,7173,14445
24,B2770,Belavia,KGF,KAZ,MSQ,BLR,O,O,O,완료,...,2360,120,0,0,0,0,0,120,0,120
25,B2772,Belavia,PWQ,KAZ,MSQ,BLR,O,O,O,완료,...,4878,243,0,0,0,0,0,243,0,243
26,B2774,Belavia,TSE,KAZ,MSQ,BLR,O,O,O,완료,...,9161,753,617,510,551,535,428,1880,1514,3394
27,B2776,Belavia,TSE,KAZ,MSQ,BLR,O,O,O,완료,...,22719,2972,2705,2666,3505,2675,2059,8343,8239,16582
28,B2780,Belavia,KSN,KAZ,MSQ,BLR,O,O,O,완료,...,4574,243,0,0,107,0,0,243,107,350
29,B28004-1,Belavia,TAS,UZB,MSQ,BLR,O,O,O,완료,...,0,0,0,120,0,0,0,120,0,120
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
647,YK773,Avia Traffic Company,FRU,KGZ,SVX,RUS,O,O,O,완료,...,1672,0,180,296,444,740,592,476,1776,2252
648,YK775,Avia Traffic Company,FRU,KGZ,IST,TUR,O,O,O,완료,...,2160,0,0,0,1440,1620,1620,0,4680,4680
649,YK777,Avia Traffic Company,OSS,KGZ,IKT,RUS,O,O,O,완료,...,2432,592,740,148,0,0,0,1480,0,1480
650,YK781,Avia Traffic Company,FRU,KGZ,LED,RUS,O,O,O,완료,...,148,0,0,0,296,0,0,0,296,296
651,YK787,Avia Traffic Company,FRU,KGZ,GRV,RUS,O,O,O,완료,...,592,296,508,296,592,740,592,1100,1924,3024
652,YK857,Avia Traffic Company,FRU,KGZ,KZN,RUS,O,O,O,완료,...,888,0,180,0,444,740,444,180,1628,1808
653,YK865,Avia Traffic Company,OSS,KGZ,SVX,RUS,O,O,O,완료,...,1808,296,444,296,148,0,0,1036,148,1184
654,YK867,Avia Traffic Company,FRU,KGZ,SGC,RUS,O,O,O,완료,...,772,444,508,148,296,592,592,1100,1480,2580
655,YK869,Avia Traffic Company,OSS,KGZ,SGC,RUS,O,O,O,완료,...,1660,444,148,148,0,148,328,740,476,1216
656,YK871,Avia Traffic Company,FRU,KGZ,KRR,RUS,O,O,O,완료,...,772,0,180,148,592,592,592,328,1776,2104
657,YK879,Avia Traffic Company,FRU,KGZ,LED,RUS,O,O,O,완료,...,5408,688,360,900,1440,1080,1440,1948,3960,5908
658,YK881,Avia Traffic Company,OSS,KGZ,LED,RUS,O,O,O,완료,...,4468,0,540,720,1620,1620,1440,1260,4680,5940
659,YK883,Avia Traffic Company,FRU,KGZ,DME,RUS,O,O,O,완료,...,11728,1080,1620,2424,3060,3060,2340,5124,8460,13584
660,YK959,Avia Traffic Company,FRU,KGZ,DME,RUS,O,O,O,완료,...,6604,900,1228,2064,2360,2360,2624,4192,7344,11536
661,YK961,Avia Traffic Company,FRU,KGZ,DME,RUS,O,O,O,완료,...,444,508,688,0,0,0,0,1196,0,1196
662,YK963,Avia Traffic Company,OSS,KGZ,DME,RUS,O,O,O,완료,...,444,296,444,0,0,0,0,740,0,740
663,YK965,Avia Traffic Company,OSS,KGZ,DME,RUS,O,O,O,완료,...,14308,1628,2220,296,3928,3780,3060,4144,10768,14912
664,YK967,Avia Traffic Company,FRU,KGZ,IKT,RUS,O,O,O,완료,...,444,148,148,296,592,592,592,592,1776,2368
665,Z92256,Bek Air,ALA,KAZ,KBL,AFG,O,O,O,완료,...,200,0,0,0,0,0,0,0,0,0
666,ZM1025,Air Manas,FRU,KGZ,DEL,IND,O,O,O,완료,...,13797,2457,2457,2457,2457,2646,2268,7371,7371,14742
667,ZM1027-1,Air Manas,FRU,KGZ,ZIA,RUS,O,O,O,완료,...,14175,0,0,0,1323,0,0,0,1323,1323
668,ZM1027-2,Air Manas,OSS,KGZ,ZIA,RUS,O,O,O,완료,...,189,0,0,0,0,0,0,0,0,0
669,ZM1029,Air Manas,FRU,KGZ,TAS,UZB,O,O,O,완료,...,0,0,0,0,0,0,0,0,0,0
670,ZM1030,Air Manas,TAS,UZB,FRU,KGZ,O,O,O,완료,...,0,0,0,0,0,0,0,0,0,0
671,ZM503,Air Manas,FRU,KGZ,URC,CHN,O,O,O,완료,...,9618,1701,1512,2457,2079,1701,1512,5670,5292,10962
672,ZM559,Air Manas,FRU,KGZ,DME,RUS,O,O,O,완료,...,15498,2457,2646,3192,2457,2268,0,8295,4725,13020
673,ZM561,Air Manas,FRU,KGZ,DME,RUS,O,O,O,완료,...,15498,2268,2457,1701,3024,3402,4725,6426,11151,17577
674,ZM5610,Air Manas,FRU,KGZ,DME,RUS,O,O,O,완료,...,0,0,0,0,0,0,0,0,0,0
675,ZM641,Air Manas,FRU,KGZ,DME,RUS,O,O,O,완료,...,567,1512,1512,1701,0,0,0,4725,0,4725
676,ZM809,Air Manas,FRU,KGZ,KHG,CHN,O,O,O,완료,...,0,756,1701,1512,0,0,0,3969,0,3969

In [14]:
f = pd.read_csv('flight_route_info.csv',encoding='cp949')
f.isnull().sum().head(5)

노선명    0
항공사    0
출발지    0
출발국    0
도착지    0
dtype: int64

In [18]:
f.isnull().sum().sum()

412

In [ ]:
f.isnull().sum() # 각 칼럼의 누락값 개수

In [22]:
f['비고'].value_counts(dropna=False).head() #NaN값 까지 포함해서 값의 개수를 세어라

NaN                     412
2016.11.05. 이후 폐선         4
2018.04.24. 이후 기록 없음      3
2017.10.14. 이후 폐선         2
2017.09.16 이후 폐선          2
Name: 비고, dtype: int64

In [27]:
f['비고'].dtype

dtype('O')

In [29]:
f.fillna("",axis=1,inplace=True) #컬럼 방향으로 NaN을 빈 문자열""로 원본을 바꾸겠다.

In [32]:
f['비고'].value_counts(dropna=False).head() #누락값이 빈 문자열로 채워졌다.

                        412
2016.11.05. 이후 폐선         4
2018.04.24. 이후 기록 없음      3
2017.05.26 이후 폐선          2
2018.03.08. 하루 운항         2
Name: 비고, dtype: int64

In [33]:
f2= pd.read_csv('flight_route_info.csv',encoding='cp949')

f2['비고'].value_counts(dropna=False).head()

NaN                     412
2016.11.05. 이후 폐선         4
2018.04.24. 이후 기록 없음      3
2017.10.14. 이후 폐선         2
2017.09.16 이후 폐선          2
Name: 비고, dtype: int64

In [35]:
f3 = f2.select_dtypes(['object']).fillna('') #NaN을 빈문자열로 채웠다.

In [36]:
f3['비고'].value_counts(dropna=False).head() #위에서 누락값을 제거했기 때문에 False를 할 필요가 없다.

                        412
2016.11.05. 이후 폐선         4
2018.04.24. 이후 기록 없음      3
2017.05.26 이후 폐선          2
2018.03.08. 하루 운항         2
Name: 비고, dtype: int64

In [37]:
s = pd.Series([0,1,np.nan,3])
s.interpolate() #모든 요소의 중간값으로 NaN을 채운다.

0    0.0
1    1.0
2    2.0
3    3.0
dtype: float64

In [40]:
a = pd.read_csv('airplane_info.csv',encoding='cp949')
a.shape

(2178, 8)

In [43]:
a.isnull().sum()

기체번호     0
항공사      0
기종       0
정원_F     0
정원_C     0
정원_W     0
정원_Y     0
총정원     71
dtype: int64

In [46]:
a[['기체번호','총정원']].tail()

        기체번호  총정원
2173  VP-BWW  NaN
2174  VP-BRM  NaN
2175  VP-BWZ  NaN
2176  VP-BWX  NaN
2177  VP-BRB  NaN

In [48]:
a2 = a['총정원'].interpolate() #행으로도 의미가 있기 때문에 중간값을 채워넣는다.

In [49]:
a2

0       140.0
1       140.0
2       140.0
3       140.0
4       140.0
5       140.0
6       140.0
7       140.0
8       140.0
9       140.0
10      140.0
11      140.0
12      140.0
13      140.0
14      140.0
15      140.0
16      140.0
17      140.0
18      140.0
19      140.0
20      140.0
21      140.0
22      140.0
23      140.0
24      140.0
25      140.0
26      140.0
27      140.0
28      140.0
29      140.0
        ...
2148    180.0
2149    180.0
2150    180.0
2151    180.0
2152    180.0
2153    180.0
2154    180.0
2155    180.0
2156    180.0
2157    180.0
2158    180.0
2159    180.0
2160    180.0
2161    180.0
2162    180.0
2163    180.0
2164    180.0
2165    180.0
2166    180.0
2167    180.0
2168    180.0
2169    180.0
2170    180.0
2171    180.0
2172    180.0
2173    180.0
2174    180.0
2175    180.0
2176    180.0
2177    180.0
Name: 총정원, Length: 2178, dtype: float64

In [57]:
c=pd.read_csv('central_asia_flight_info.csv',encoding='cp949')
c.head(5)
c.count() #요소의 개수
c.isnull().sum()

노선명                0
출발 공항              0
출발 국가              0
도착 공항              0
도착 국가              0
기체번호               0
기종                 0
정원(전체)             0
년도                 0
월                  0
일                  0
Unnamed: 11    95015
dtype: int64

In [58]:
central =c.dropna(axis=1)
central.count()

노선명       95015
출발 공항     95015
출발 국가     95015
도착 공항     95015
도착 국가     95015
기체번호      95015
기종        95015
정원(전체)    95015
년도        95015
월         95015
일         95015
dtype: int64

In [63]:
a = pd.read_csv('airplane_info.csv', encoding='cp949')
a.shape

(2178, 8)

In [65]:
a.count() #a.count로 괄호가 없는것은 기본 파이썬 함수로 저렴해보인다.
#우선 무언가를 삭제할 때 행 번호를 확보해야한다.

기체번호    2178
항공사     2178
기종      2178
정원_F    2178
정원_C    2178
정원_W    2178
정원_Y    2178
총정원     2107
dtype: int64

In [66]:
np.isnan(np.array([1,2,np.nan]))#array=>series=>Dataframe

array([False, False,  True])

In [67]:
a['총정원'].apply(np.isnan).tail()

2173    True
2174    True
2175    True
2176    True
2177    True
Name: 총정원, dtype: bool

In [68]:
a['총정원'].index

RangeIndex(start=0, stop=2178, step=1)

In [69]:
a['총정원'].index[[2107,2108]]

Int64Index([2107, 2108], dtype='int64')

In [70]:
index_nan = a['총정원'].index[a['총정원'].apply(np.isnan)] #apply(np.isnan)은 NaN을 가진 것들의 자리를 출력 그것을 index로 행번호 뽑아냄.
index_nan

Int64Index([2107, 2108, 2109, 2110, 2111, 2112, 2113, 2114, 2115, 2116, 2117,
            2118, 2119, 2120, 2121, 2122, 2123, 2124, 2125, 2126, 2127, 2128,
            2129, 2130, 2131, 2132, 2133, 2134, 2135, 2136, 2137, 2138, 2139,
            2140, 2141, 2142, 2143, 2144, 2145, 2146, 2147, 2148, 2149, 2150,
            2151, 2152, 2153, 2154, 2155, 2156, 2157, 2158, 2159, 2160, 2161,
            2162, 2163, 2164, 2165, 2166, 2167, 2168, 2169, 2170, 2171, 2172,
            2173, 2174, 2175, 2176, 2177],
           dtype='int64')

In [71]:
a_info_nan = a.drop(index=index_nan) #행 단위의 숫자.
a_info_nan.shape

(2107, 8)

In [72]:
a_info_dropna = a.dropna(axis=0) #위의 긴 코딩으로 행을 삭제한 것을 이렇게 한 줄로 가능하다.

a_info_dropna.shape

ai = a['총정원'] #이처럼 하면 안된다. 우연히 총정원에만 NaN에가 들어있어서 이렇게 한것.
ai.isnull().sum()

ai_d = ai.dropna()
ai_d.isnull().sum()

(2107, 8)

In [74]:
import seaborn as sns #기존에 가지고 있는 데이터 셋
iris = sns.load_dataset('iris')
iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [75]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [77]:
iris.duplicated().sum()

1

In [78]:
iris.duplicated().head()

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [79]:
iris['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [81]:
iris['species'].drop_duplicates() #중복된 값.삭제

0          setosa
50     versicolor
100     virginica
Name: species, dtype: object

In [83]:
s=pd.Series(['a','b','c','a'], dtype="category") #카테고리라는 타입이 관리해주고 있다. (범주형 클래스)
s

0    a
1    b
2    c
3    a
dtype: category
Categories (3, object): [a, b, c]

In [84]:
s.values.categories

Index(['a', 'b', 'c'], dtype='object')

In [85]:
s.index

RangeIndex(start=0, stop=4, step=1)

In [86]:
s.dtype

CategoricalDtype(categories=['a', 'b', 'c'], ordered=False)

In [88]:
try:
    s[2] = 'd'
except Exception as e:
    print()

Cannot setitem on a Categorical with a new category, set the categories first

In [89]:
try:                 
    s[4] = 'c'
except Exception as e:
    print(e)

[4] not contained in the index

In [96]:
cat_1 = pd.Categorical(['a','c','c',np.nan],categories=['b','a','c']) #b,a,c를 제외한 나머지는 넣을 수 없음.

In [97]:
cat_1 #b,a,c를 제외한 나머지는 넣을 수 없음.

[a, c, c, NaN]
Categories (3, object): [b, a, c]

In [ ]:
cat_1.dtype

In [92]:
df = pd.DataFrame({'cat':cat_1, 's':['a','c','c',np.nan]}) #서로 다른 타입을 대입

In [93]:
df  #서로 다른 타입의 컬럼 2줄이 만들어짐

   cat    s
0    a    a
1    c    c
2    c    c
3  NaN  NaN

In [98]:
df.select_dtypes(exclude=['object'])

   cat
0    a
1    c
2    c
3  NaN

In [99]:
df['cat'][3]='b' #카테고리에 객체로 b는 등록되어 있기 때문에 등록됨. b,a,c를 제외한 나머지는 넣을 수 없음.

In [100]:
df

  cat    s
0   a    a
1   c    c
2   c    c
3   b  NaN

In [101]:
df.loc[4,:] = ['a','a']
df

  cat    s
0   a    a
1   c    c
2   c    c
3   b  NaN
4   a    a

In [102]:
a = pd.read_csv('airplane_info.csv', encoding='cp949')
a.head()

     기체번호       항공사        기종  정원_F  정원_C  정원_W  정원_Y    총정원
0  VP-BDK  Aeroflot  A320-214     0    20     0   120  140.0
1  VP-BWD  Aeroflot  A320-214     0    20     0   120  140.0
2  VP-BWE  Aeroflot  A320-214     0    20     0   120  140.0
3  VP-BWF  Aeroflot  A320-214     0    20     0   120  140.0
4  VP-BRZ  Aeroflot  A320-214     0    20     0   120  140.0

In [103]:
a['항공사'].dtype #오브젝트 타입

dtype('O')

In [104]:
air_cat = pd.Categorical(a['항공사'])#등록안된 항공사가 들어오지 못하도록 카테고리화 시키겠다.

air_cat.categories

Index(['AZAL Azerbaijan Airlines', 'Aeroflot', 'Air Arabia', 'Air Astana',
       'Air Baltic', 'Air China', 'Air Kyrgyzstan', 'Air Manas',
       'Airzena Georgian Airways', 'Asiana Airlines', 'AtlasGlobal',
       'Avia Traffic Company', 'Belavia', 'China Southern Airlines',
       'Ellinair', 'Etihad Airways', 'Finnair', 'Globus Airlines',
       'Hainan Airlines', 'Iran Aseman Airlines', 'KLM Royal Dutch Airlines',
       'Kam Air', 'Korean Air', 'LOT - Polish Airlines', 'Lufthansa',
       'MIAT - Monglian Airlines', 'Mahan Air', 'NordStar', 'Pegas Fly',
       'Pegasus Airlines', 'Pobeda', 'Red Wings', 'Rusline', 'S7 Airlines',
       'SCAT', 'Somon Air', 'Sunday Airlines', 'Tajik Air', 'Turkish Airlines',
       'Turkmenistan Airlines', 'Ukraine International Airlines',
       'Ural Airlines', 'Urumqi Air', 'Utair', 'Uzbekistan Airways',
       'VIM Airlines', 'Wizz Air', 'Yakutia Airlines', 'Yamal Airlines',
       'flydubai'],
      dtype='object')

In [105]:
air_cat

[Aeroflot, Aeroflot, Aeroflot, Aeroflot, Aeroflot, ..., Red Wings, Red Wings, Red Wings, Red Wings, Red Wings]
Length: 2178
Categories (50, object): [AZAL Azerbaijan Airlines, Aeroflot, Air Arabia, Air Astana, ..., Wizz Air, Yakutia Airlines, Yamal Airlines, flydubai]

In [106]:
air_cat.shape

(2178,)

In [107]:
a['항공사'].dtype

dtype('O')

In [110]:
try:
    a['항공사'][0]="Asia Airline"
except Exception as e:
    print(e)

D:\anaconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [115]:
a.isnull().sum()

기체번호     0
항공사      0
기종       0
정원_F     0
정원_C     0
정원_W     0
정원_Y     0
총정원     71
dtype: int64

In [112]:
a.isnull()

       기체번호    항공사     기종   정원_F   정원_C   정원_W   정원_Y    총정원
0     False  False  False  False  False  False  False  False
1     False  False  False  False  False  False  False  False
2     False  False  False  False  False  False  False  False
3     False  False  False  False  False  False  False  False
4     False  False  False  False  False  False  False  False
5     False  False  False  False  False  False  False  False
6     False  False  False  False  False  False  False  False
7     False  False  False  False  False  False  False  False
8     False  False  False  False  False  False  False  False
9     False  False  False  False  False  False  False  False
10    False  False  False  False  False  False  False  False
11    False  False  False  False  False  False  False  False
12    False  False  False  False  False  False  False  False
13    False  False  False  False  False  False  False  False
14    False  False  False  False  False  False  False  False
15    False  False  False  False  False  False  False  False
16    False  False  False  False  False  False  False  False
17    False  False  False  False  False  False  False  False
18    False  False  False  False  False  False  False  False
19    False  False  False  False  False  False  False  False
20    False  False  False  False  False  False  False  False
21    False  False  False  False  False  False  False  False
22    False  False  False  False  False  False  False  False
23    False  False  False  False  False  False  False  False
24    False  False  False  False  False  False  False  False
25    False  False  False  False  False  False  False  False
26    False  False  False  False  False  False  False  False
27    False  False  False  False  False  False  False  False
28    False  False  False  False  False  False  False  False
29    False  False  False  False  False  False  False  False
...     ...    ...    ...    ...    ...    ...    ...    ...
2148  False  False  False  False  False  False  False   True
2149  False  False  False  False  False  False  False   True
2150  False  False  False  False  False  False  False   True
2151  False  False  False  False  False  False  False   True
2152  False  False  False  False  False  False  False   True
2153  False  False  False  False  False  False  False   True
2154  False  False  False  False  False  False  False   True
2155  False  False  False  False  False  False  False   True
2156  False  False  False  False  False  False  False   True
2157  False  False  False  False  False  False  False   True
2158  False  False  False  False  False  False  False   True
2159  False  False  False  False  False  False  False   True
2160  False  False  False  False  False  False  False   True
2161  False  False  False  False  False  False  False   True
2162  False  False  False  False  False  False  False   True
2163  False  False  False  False  False  False  False   True
2164  False  False  False  False  False  False  False   True
2165  False  False  False  False  False  False  False   True
2166  False  False  False  False  False  False  False   True
2167  False  False  False  False  False  False  False   True
2168  False  False  False  False  False  False  False   True
2169  False  False  False  False  False  False  False   True
2170  False  False  False  False  False  False  False   True
2171  False  False  False  False  False  False  False   True
2172  False  False  False  False  False  False  False   True
2173  False  False  False  False  False  False  False   True
2174  False  False  False  False  False  False  False   True
2175  False  False  False  False  False  False  False   True
2176  False  False  False  False  False  False  False   True
2177  False  False  False  False  False  False  False   True

[2178 rows x 8 columns]

In [116]:
a.columns

Index(['기체번호', '항공사', '기종', '정원_F', '정원_C', '정원_W', '정원_Y', '총정원'], dtype='object')

In [120]:
a['총정원'].isnull().sum()

71

In [125]:

b=a.loc[a['총정원'].isnull(),'총정원'] = a.loc[a['총정원'].isnull(), '정원_Y']
b

Series([], Name: 정원_Y, dtype: int64)

NameError: name 'b' is not defined